<!-- <div *ngIf="state.user" style="height: 500px; overflow-y: scroll">
  <div
    style="display: flex; flex: 1; flex-direction: column"
    *ngFor="let user of state.user"
  >
    <a
      [title]="state.user.name"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: dotted 1px;
      "
    >
      >
      <div
        style="
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          text-align: initial;
        "
      >
        <h4
          style="
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
          "
        >
          {{ user.uuid }}
        </h4>
        <span style="font-size: small">{{ user.channel }}</span>
      </div>
    </a>
  </div>
</div> -->
<div
  *ngIf="users$ | async as users; else usersLoading"
  style="margin-top: 20px"
>
  Room Peoples
  <div *ngFor="let u of users">
    <p>{{ u.name }}</p>
  </div>
</div>
<ng-template #usersLoading>
  <div>Loading...</div>
</ng-template>
