<app-top-bar-header></app-top-bar-header>
<div style="display: flex; justify-content: space-between">
  <h2>{{ username }}</h2>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: end;
      margin-bottom: 10px;
    "
  >
    <span style="margin-right: 10px">Teacher Mode</span>
    <app-teacher-mode-selection
      [teacher_mode]="teacher_mode"
      [gotoTeacherMode]="gotoTeacherMode"
    ></app-teacher-mode-selection>
  </div>
</div>
<div class="video-container">
  <div *ngIf="video">
    <!-- <video [src]="video.vidoeUrl | safeUrl" poster=""></video> -->
    <iframe
      [src]="video.vidoeUrl | safeUrl"
      width="1000"
      height="500"
      allowfullscreen=""
      controls=""
      autoplay="false"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
  <div class="controls">
    <!-- play/pause button -->
    <div class="play"></div>
    <!-- the seekbar -->
    <div class="line">
      <div class="elapsed"></div>
    </div>
    <div class="screen"></div>
  </div>
</div>
<app-joined-students [users$]="userService.users$"></app-joined-students>
